<div class="container mt-5 w-75">
  <div class="row">
    <div class="col border border-1 border-secondary p-3 rounded-3">
      <h1 class="border-bottom border-1 border-secondary py-3">Simple CRUD App</h1>
      <p>MyAgenda adalah web aplikasi sederhana yang dibuat untuk mengatur jadwal agenda user dengan menggunakan fitur CRUD (Create, Read, Update, Delete)</p>
      <p>Sederhananya adalah website ini digunakan untuk membuat jadwal kegiatan apa saja yang akan dilakukan.</p>
      <p>
        Website ini digunakan sebagai media pelatihan saya dengan mengikuti tutorial dari channel youtube pak <a href="https://www.youtube.com/c/WebProgrammingUNPAS" target="_blank">Sandika Galih</a> dalam memahami fitur fitur dan algoritma
        dasar pemograman website dibagian backend dengan menggunakan
        <a href="https://nodejs.org/en/about/" target="_blank">Node.js</a>
      </p>
      <h4>Teknologi yang digunakan</h4>
      <ul>
        <li>HTML & CSS</li>
        <li>Javascript</li>
        <li>Node.js</li>
      </ul>
      <h4>Framework yang digunakan</h4>
      <ul>
        <li>Bootsrap</li>
        <li>Express.js</li>
      </ul>
    </div>
  </div>
</div>
